<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Gestor</title>
    <link rel="stylesheet" href="./gestorNavbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="image">
            <img src="../../images/logo.png" alt="Logo">
        </div>
        <div class="buttons">
            <a href="../../GestorScreens/home.html" class="nav-button">Obras Asignadas</a>
            <a href="../../GestorScreens/loadImages.html" class="nav-button">Gestionar Equipos</a>
            <a href="../../GestorScreens/history.html" class="nav-button">Reportes</a>
        </div>
    </nav>
</body>
</html>
