<nav>
    <div class="image">
      <img src="./images/logo.png" alt="logo CWvision" />
    </div>
    <div class="buttons">
      <button><a href="clienteHome.html">Home</a></button>
      <button><a href="galeria.html">Galería</a></button>
      <button><a href="materiales.html">Materiales</a></button>
      <button><a href="notificaciones.html">Notificaciones</a></button>
      <button><a href="historial.html">Historial</a></button>
    </div>
    <div class="auth">
      <a href="login.html" class="login">Cerrar Sesión</a>
      <button><a href="clienteHome.html">Mi Proyecto</a></button>
    </div>
  </nav>