<div class="footer-container">
  <div class="about">
    <h2>Sobre Nosotros</h2>
    <p>
      Facilitamos el control visual de remodelaciones y obras de
      construcción, permitiendo a los clientes ver imágenes del proceso,
      materiales utilizados y avances detallados.
    </p>
  </div>
  <div class="developers">
    <h2>Desarrolladores</h2>
    <ul>
      <li>
        <img src="../../images/git-icon.png" alt="GitHub" />
        <a href="#">Dev 1</a>
      </li>
      <li>
        <img src="../../images/git-icon.png" alt="GitHub" />
        <a href="#">Dev 2</a>
      </li>
    </ul>
    <p>
      <img src="../../images/colombia-icon.png" alt="Colombia" /> +57 123 456
      7890 | +57 987 654 3210
    </p>
  </div>
  <div class="social">
    <h2>Síguenos</h2>
    <ul>
      <li>
        <a href="#"
          ><img src="../../images/tiktik-icon.png" alt="TikTok" />@CWvision</a
        >
      </li>
      <li>
        <a href="#"
          ><img
            src="../../images/instagran-icon.png"
            alt="Instagram"
          />@CWvision</a
        >
      </li>
      <li>
        <a href="#"
          ><img
            src="../../images/facebook-icon.png"
            alt="Facebook"
          />@CWvision</a
        >
      </li>
    </ul>
  </div>
</div>